<<<<<<< HEAD
@font-face {
  font-family: "Vamsteino";
  src: url("fonts/vamsteino.regular.ttf") format("truetype");
}

body {
  font-family: "Vamsteino", cursive;
  font-size: 37px;
  text-align: center;
  background: linear-gradient(to left, #fc354c, #0abfbc);
  text-shadow: 1px 1px white;
}

.container {
  display: flex;
  justify-content: center;
}

#box-img {
  background-image: url("images/sandman.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;

  border: 6px solid white;
}

#portrait {
  width: 250px;
  border: 6px solid #f0ebf0;
  margin: 2px 10px 10px 0;
}

#bday-age {
  width: 150px;
  height: 150px;
  background: #84a59d;
  padding: 20px 20px;
  border-radius: 25px 0px 25px 0px;
}

#bday-date {
  width: 150px;
  height: 150px;
  margin: 10px;
  background: #f28482;
  padding: 5px 10px;
  border-radius: 0px 25px 0px 25px;
}

#box-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
  font-size: 35px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  width: 500px;
  height: 500px;
  border: 6px solid white;
  border-radius: 20px;
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

#gift-img-surprise:hover {
  background-image: url("images/neildgt-1.webp");
}

#gift-img-endless:hover {
  background-image: url("images/endless.gif");
}

#gift-img-sunset:hover {
  background-image: url("images/sunset.webp");
}

#gift-img-wonderful:hover {
  background-image: url("images/wonderful-cat.webp");
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.webp");
}

#footer {
  width: 400px;
  font-style: italic;
  margin: 40px auto 20px;
}

a {
  color: white;
  text-shadow: 1px 1px black;
}
=======
@font-face {
  font-family: "Vamsteino";
  src: url("fonts/vamsteino.regular.ttf") format("truetype");
}

body {
  font-family: "Vamsteino", cursive;
  font-size: 37px;
  text-align: center;
  background: linear-gradient(to left, #fc354c, #0abfbc);
  text-shadow: 1px 1px white;
}

.container {
  display: flex;
  justify-content: center;
}

#box-img {
  background-image: url("images/sandman.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;

  border: 6px solid white;
}

#portrait {
  width: 250px;
  border: 6px solid #f0ebf0;
  margin: 2px 10px 10px 0;
}

#bday-age {
  width: 150px;
  height: 150px;
  background: #84a59d;
  padding: 20px 20px;
  border-radius: 25px 0px 25px 0px;
}

#bday-date {
  width: 150px;
  height: 150px;
  margin: 10px;
  background: #f28482;
  padding: 5px 10px;
  border-radius: 0px 25px 0px 25px;
}

#box-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
  font-size: 35px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  width: 500px;
  height: 500px;
  border: 6px solid white;
  border-radius: 20px;
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

#gift-img-surprise:hover {
  background-image: url("images/neildgt-1.webp");
}

#gift-img-endless:hover {
  background-image: url("images/endless.gif");
}

#gift-img-sunset:hover {
  background-image: url("images/sunset.webp");
}

#gift-img-wonderful:hover {
  background-image: url("images/wonderful-cat.webp");
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.webp");
}

#footer {
  width: 400px;
  font-style: italic;
  margin: 40px auto 20px;
}

a {
  color: white;
  text-shadow: 1px 1px black;
}
>>>>>>> b6acb4a825fd1ab337fe59cd80515d6d2b37a81c
