body {
  margin: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.main-div {
  width: 500px;
  margin: auto;
  padding: 30px;
  display: flex;
  background: #ff9f1c;
  border-radius: 20px;
  box-shadow: 0 15px 10px 0 #ff6d00, 15px 0 10px 0 #6e0e0a;
}

.avatar {
  width: 190px;
  display: flex;
  align-items: flex-start;
}

.card {
  width: auto;
  margin: 0 auto;
  padding: 50px;
  display: block;
  text-align: end;
  align-items: space-between;
  color: #800e13;
  background: white;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 3px solid #d3741c;
  border-radius: 15px 30px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #800e13;
}

.border {
  border: 3px solid #38040e;
  border-radius: 15px;
}

p:hover,
h3:hover,
h4:hover {
  background-color: #780000;
  color: #ffb703;
  border-radius: 15px;
  padding: 10px;
  transition: background-color 0.8s;
}
